{
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "printWidth": 80,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "bracketSameLine": true,
    "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
    "tailwindPreserveDuplicates": true,
    "importOrder": [
            "",
            "^server-only$",
            "^react$",
            "^next",
            "<TYPES>",
            "<THIRD_PARTY_MODULES>",
            "",
            "^@/components(/.*)?$",
            "^@/ui(/.*)?$",
            "^@/hooks(/.*)?$",
            "^@/lib(/.*)?$",
            "^@/types(/.*)?$",
            "",
            "^[.]",
            "",
            ".css$"
        ],
        "importOrderSeparation": true,
}

